#container
{
    width: 800px;
    height: 600px;
	margin: auto;
}


#song-header{
    float: left;
    display: inline-block;
    height: 70%;
    width: 70%;
}

#song-footer{
    float: left;
    display: inline-block;
    height: 30%;
    width: 70%;
}

#song-sider{
    display: inline-block;
    width: 16%;
    height: 100%;
    float: right;
}

.song{
    height: 66px;
    width: 100%;
    margin: 0px auto 12px auto;
    text-align: left;
    background: linear-gradient(135deg, #1a1a1a 0%,#3f4c6b 100%);
    color: white;
}

.song > img{
    float: left;
    display: block;
    height: 66px;
    max-width: 66px;
    margin: 1px 5px 1px 0px;
}

#song-footer > span{
    font-family: 'Philosopher';
    font-size: 1em;
    display: inline-block;
    float: left;
    margin-left: 7%;
    vertical-align: middle;
}

.link-controls{
    width: 100%;
    height: 100%;
}

.link-button{
    display: inline-block;
    height: 32px;
    width: 32px;
}

#scloud-button{
    background: url(./img/scloud.png) no-repeat;
    background-size: 100%;    
}
#spotify-button{
    background: url(./img/spotify.png) no-repeat;
    background-size: 100%;    
}

#bandcamp-button{
    background: url(./img/bandcamp.png) no-repeat;
    background-size: 100%;    
}

#itunes-button{
    background: url(./img/itunes.png) no-repeat;
    background-size: 100%;
}

.audio-controls{
    display: block;
    float: left;
    width: 90%;
}

.play-button{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 1%;

    cursor: pointer;

    background: url(./img/play.png);
    background-size: cover;
    float: left;
    margin-top: 6px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    border-radius: 45px;
    outline: none;
}

#likes-amount{
    float: right;
    display: table-cell;
    background-color: grey;
    border-radius: 25px 15px 15px 25px;
    width: 10%;
    height: 13px;
    margin-top: 10px;
}

.number{
    font-size: 13px;   
    font-family: "Rokkitt";
    text-align: center;
    color: white;
}

#green-circle{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #01DFA5;
    display: inline-block;
    float: left;
}

#red-circle{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #FA5858;
    display: inline-block;
    float: left;
}

#dislikes-amount{
    float: right;
    display: table-cell;
    background-color: grey;
    border-radius: 25px 15px 15px 25px;
    width: 10%;
    height: 13px;
    color: white;
    font-size: 16px;    
    font-family: "Rokkitt";
    margin-top: 8px;
}

#play:active{
    border: 1px solid blue;
    border-radius: 45px;
    color: red;
}

#play:focus{
    color: pink;
    border-radius: 45px;
}

.waveform-canvas{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.timeline{
    position: relative;
    z-index: 2;
    opacity: 1.0;
    display: inline-block;
    width: 90%;
    height: 75%;
    margin-top: 8px;
    margin-bottom: 2px;
    background: white;
    float: left;
    border: 1px solid grey;
    border-radius: 2px;

    cursor: pointer;
}

.progress {
    z-index: 1;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #0096FF;;
}
 
.play-pos{
    position: relative;
    background-color: black;
    width: 1px;
    height: 100%;
    margin-top: 0px;
}

.anticipate{
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #99E6FF;
}